<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashwin.arshop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OrderStatus" />
        <activity
            android:name=".AddReviewRating"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Order"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Cart"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditUserAccount"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProductDetail"
            android:windowSoftInputMode="stateHidden" ></activity>
        <activity
            android:name=".SignUp"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Notification" />
        <activity
            android:name=".SignIn"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SetIp"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
    </application>

</manifest>